

.btn, .btnn, .bton {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(7, 7, 7)

    
}
.profile-background {

    text-align: center;
    display: flexbox;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(79deg,#f6f7f6,#cecec6 48%, #e7ebe5); 
    flex-direction:column;
    color:white;
        
      
}
.post-data {
    padding:1rem;
    border-radius: 20%;
    border-width: 0.5rem;
    border-style:ridge;
    border-color: rgb(1, 1, 1);
    justify-content: center;
    display:inline-block;

}

.profile-background {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #040404;

}

.green {
    background-color: rgb(119, 170, 119);
    padding:1rem;
    border-radius: 20%;
    border-width: 0.5rem;
    border-style:ridge;
    border-color: rgb(1, 1, 1);
    justify-content: center;
    display:inline-block;
}

.red {
    background-color: rgb(155, 72, 72);
    padding:1rem;
    border-radius: 20%;
    border-width: 0.5rem;
    border-style:ridge;
    border-color: rgb(1, 1, 1);
    justify-content: center;
    display:inline-block;
}