.map {
    text-align: center;
    background-color: aquamarine;
    justify-content: right;
    align-content: center;
    padding: 4rem;
}

.dashboard {
    font-weight: 400;
    font-size: x-large;
}
.container {
    align-items: center;
    padding-left: 23.50em;
}