.map {
    text-align: center;
    background-color: aquamarine;
    justify-content: right;
    align-content: center;
    padding: 4rem;
}

.dashboard {
    font-size:60px;
font-weight: 700;
padding-bottom: .5em;
}
.container {
    align-items: center;
    padding-left: 23.50em;
    
   
}

.directions {
    font-weight: 800;
    font-size: 25px;
    font: bolder;
    color: #010c13a7;
    -webkit-text-stroke: .5px rgba(136, 74, 172, 0.742);
}