.auth-form-container{
    text-align: center;
    display:flex;
    min-height: 105vh;
    align-items: center;
    justify-content: left;
    background-image: url('/public/images/bottle_4.gif');
    background-position: -7rem;
    flex-direction:column;
    color:rgb(233, 35, 68);
    background-repeat:repeat;  
    background-size: 55%;  
    padding-top: 10em;
    
  } 

  .login-form, .create-user-form {
    display:flex;
    flex-direction: column;
    border: 1px solid rgb(234, 25, 77);
    border-width: 0.25em;
    border-radius: 40px;
    padding: 4rem;
    margin: 0.5rem;
  


  }
  label {
    text-align: left;
    padding: 0.25rem;
  }
  input {
    margin: 0.5 rem 0;
    padding: 1em;
    border:none;
    border-radius: 10px;

  }

  .create-user-btn {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(229, 11, 48)
    

  }

  .link-btn {
    background: none;
    color: rgb(230, 19, 19);
    text-decoration: underline;

  }


.btn, .btnn, .bton {
    border: rgba(220, 36, 186, 0.955);
    background-color: rgba(225, 19, 60, 0.927);
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(242, 238, 239);
    

    
}

