import empty.

.btn, .btnn, .bton {
    border: none;
    background-color: rgb(2, 0, 0);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: rgba(23, 94, 226, 0.41)

    
}
.profile-background {

    text-align: center;
    display: flexbox;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(79deg,#07e6faec,#3ee9e1 48%, #f5f6f803); 
    flex-direction:column;
    color:rgb(249, 246, 246);
        
      
}
.post-data {
    padding:1rem;
    border-radius: 20%;
    border-width: 0.5rem;
    border-style:ridge;
    border-color: rgb(82, 228, 236);
    justify-content: center;
    display:inline-block;

}

.profile-background {
    
    font: weight 5px;
    color: #079aefa7;

}

.green {
    background-color: rgb(228, 247, 218);
    padding:1rem;
    border-radius: 20%;
    border-width: 0.5rem;
    border-style:ridge;
    border-color: rgba(71, 241, 230, 0.789);
    justify-content: center;
    display:inline-block;
}

.red {
    background-color: rgb(245, 108, 129);
    padding:1rem;
    border-radius: 20%;
    border-width: 0.5rem;
    border-style:ridge;
    border-color: rgb(223, 44, 4);
    justify-content: center;
    display:inline-block;
}


.containers {
    background-image: url('/public/images/bottle_1.gif');
    background-size:55%;
  height: 200vh;
  /* min-zoom:initial; */
  margin-top: 100px;
  margin-left: 600px;
  font-size:25px;
  background-repeat:no-repeat;
  

}

.logged-in {
    justify-content: left;
}